<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页-数度智慧标注</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
          content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/static/css/font.css">
    <link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/static/js/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>

</head>
<body>
<!-- 顶部开始 -->
<div class="container">
    <div class="logo"><a href="javascript:;">爱上数据</a></div>
    <div class="left_open">
        <i title="展开左侧栏" class="iconfont">&#xe699;</i>
    </div>

    <ul class="layui-nav right">
        <li class="layui-nav-item">
            <a href="javascript:;" id="handle_team">{{name}}
            </a>
        </li>

    </ul>

</div>
<!-- 顶部结束 -->
<!-- 中部开始 -->
<!-- 左侧菜单开始 -->
<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li>
                <a href="javascript:;">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>上传PCD文件</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
                <ul class="sub-menu">
                    <li>
                        <a >
                            <i class="iconfont">&#xe6a7;</i>
                             <form class="layui-form" id="form">
        <input type="file" id="file" value="请选择需要上传的图片" multiple="multiple" webkitdirectory>
                                   <input value="发布" style="width:100%;" type="button" id="submit">
                             </form>
                        </a>
                    </li>
                </ul>
            </li>

            <li>

                <a href="http://127.0.0.1:3000//">
                    <i class="iconfont">&#xe6b8;</i>
                    <cite>开始标注</cite>
                    <i class="iconfont nav_right">&#xe697;</i>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- <div class="x-slide_left"></div> -->
<!-- 左侧菜单结束 -->
<!-- 右侧主体开始 -->
<div class="page-content">
    <div class="layui-tab tab">
        <ul class="layui-tab-title">
            <li>DaiLi</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <iframe src='/static/images/1.jpg' frameborder="0" scrolling="yes" class="x-iframe"
                        id="iframe"></iframe>

            </div>
        </div>
    </div>
</div>
<div class="page-content-bg"></div>
<!-- 右侧主体结束 -->
<!-- 中部结束 -->
<!-- 底部开始 -->
<div class="footer">
    <div class="copyright">Copyright ©2019 All Rights Reserved</div>
</div>
<!-- 底部结束 -->

</body>
<script>
    $('#submit').click(function () {
        formData = new FormData();
        for(var i=0;i<$("#file")[0].files.length;i++) {
            //循环获取上传个文件
	        formData.append("sub_file", $("#file")[0].files[i]);
	    }
        $.ajax({
            type:'POST',
            url:'/shudu/user/upload/?token={{token}}',
            data:formData,
            dataType:'json',
            processData:false,
            contentType: false,
            success:function(json){
                if (json.code==200100){
                    var token=json.token
                    confirm(json.msg)
                    window.location.href='/shudu/user/index/?token='+token
                }
                else if (json.code==200400){

                    confirm(json.msg)
                    window.location.href='/shudu/user/login/'
                }
                else {
                    var token=json.token
                    confirm(json.msg)
                    window.location.href='/shudu/user/index/?token='+token
                }
            }
        })
    })

</script>


</html>