<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>数度智慧标注平台</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/static/css/font.css">
	<link rel="stylesheet" href="/static/css/xadmin.css">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="/static/js/xadmin.js"></script>

</head>
<body class="login-bg">

    <div class="login">
        <div class="message">标注员注册</div>
        <div id="darkbannerwrap"></div>

        <form class="layui-form" id="form">
            <input type="text" class="layui-input" id="login_name" placeholder="账号" value="">
            <hr class="hr15">
            <input placeholder="密码"  type="password" class="layui-input" id="Login_paw" value="">
            <hr class="hr15">
            <input placeholder="联系方式"  type="text" class="layui-input" id="tel" value="">
            <hr class="hr15">
            <input placeholder="身份证号"  type="text" class="layui-input" id="Idcard" value="">
            <hr class="hr15">

            <input value="注册" name="submit" style="width:100%;" type="button" id="submit">
            <hr class="hr20" >
            <a href="/shudu/user/login/" style="font-size:15px;margin-left:290px;">去登陆</a>
        </form>
    </div>


    <!-- 底部结束 -->

</body>

<script>
    $('#submit').click(function () {
        var Login_name=$('#login_name').val();
        var Login_paw=$('#Login_paw').val();
        var tel=$('#tel').val();
        var Idcard=$('#Idcard').val();
        $.ajax({
            type:'post',
            url:'/shudu/user/register/',
            data:{
                'Login_name':Login_name,
                'Login_paw':Login_paw,
                'tel':tel,
                'Idcard':Idcard,
            },
            dataType:'json',
            success:function(json){
                if (json.code==200001){
                    confirm(json.msg)
                    window.location.href='/shudu/user/login/'
                }
                else {
                    confirm(json.msg)
                    window.location.href='/shudu/user/register/'
                }
            }
        })
    })
</script>
</html>